
body {
}
video {
  max-width: 100%;
}
nav {
  background-color: #4ddf39;
  font-size: 5vh;
  color: white;
  display: block;
}
h1 {
  font-size: 8vh;
  line-height: normal;
}
h3 {
  font-size: 6vh;
  line-height: normal;
}
p {
  line-height: normal;
}
